svg {
	width: 50%;
}

#game {
	float: left;
	width: 50%;
	margin-top: 20px;
}

#nba-allstar-logo {
	margin: auto;
	display: block;
	width: 35%;
}

#court {
	float: right;
	width: 50%;
	margin-top: 20px;
}

.court-image {
	width: 98%;
	margin-top: 20px;
}

.title {
	color: red;
}

.sub-title {
	font-size: 19px;
	font-family: 'Ubuntu', sans-serif;
	color: #8e8f91;
}

.instructions {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	color: #446E9B; /*#9ea0a3;*/	
}

hr {
	background-color: #446E9B;
	width: 70%;
}

h2 {
	text-align: center;
	font-family: 'Bungee', cursive;
	font-size: 26px;
	margin: auto;
	color: #0000cc;
}

h4 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16.5px;
	color: #505051; /*#A9A9A9; */
	font-weight: 700;
	margin-top: 3px;
	margin-bottom: 20px;
}

.well {
	border-color: #446E9B;
	border-width: 1.5px;
	background: white;
}

.nav-pills {
	width: 70%;
    margin: auto;
	text-align: center;
	font-family: 'Bungee', cursive;
	font-size: 18px;
	color: #446E9B;
}

.nav-item a.active:hover { 
	color: white;
}

.btn-primary {
	width: 80%;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 5px;
	color: white;
}

.btn-success {
	width: 80%;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 5px;
	color: white;
}

.player-list {
	display: block;
	margin: auto;
	width: 75%;
	margin-top: 10px;
}

.players-pics {
	width: 60%;
}

#guard-1 {
	margin-top: -365px;
	margin-left: 20px;
	position: absolute;
	float: left;
}

#guard-2 {
	width: 35%;
	margin-top: -365px;
	margin-right: -45px;
	position: relative;
	float: right;
}

#forward-1 {
	margin-top: -130px;
	margin-left: 45px;
	position: absolute;
	float: left;
}

#forward-2 {
	width: 35%;
	margin-top: -130px;
	margin-right: -20px;
	position: relative;
	float: right;
}

#center-1 {
	width: 35%;
	margin-top: -250px;
	margin-left: 214px;
	position: relative;
	float: left;
}

@media only screen and (max-width: 480px) {
	
	.container {
		margin-top: 10px;
		width: 100%;
		display: flex;
  		align-items: center;
	}

	#nba-allstar-logo {
		width: 65%;
	}

	#game {
		width: 95%;
		margin: auto;
	}

	#court {
		width: 95%;
		margin: auto;	
	}

	.nav-pills {
		width: 80%;
		margin: auto;
	}

	.btn {
		width: 120%;
	}

}


@media only screen and (min-width: 481px) and (max-width: 853px) {}
