<!-- Facebook Share Button -->
<!-- <div class="fb-share-button"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a></div> -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Angular NBA Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2040402663753655"
     data-ad-slot="5755741837"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Basketball Court Image -->
<img src="nbaAllstars/layout/assets/images/basketball-court.jpg" class="court-image">


<!-- Center Players Div -->
<div id="center-1" class="empty"></div>

<!-- Guard Players Divs -->
<div id="guard-1" class="empty"></div>
<div id="guard-2" class="empty"></div>

<!-- Forward Players Divs -->
<div id="forward-1" class="empty"></div>
<div id="forward-2" class="empty"></div>
