<!-- Basketball Court Image -->
<img src="nbaAllstars/layout/assets/images/basketball-court.jpg" class="court-image">

<!-- Guard Players Pics -->
<img src="nbaAllstars/layout/assets/images/players/michael-jordan.png" id="jordan-pic" class="players-pics">

<img src="nbaAllstars/layout/assets/images/players/kobe-bryant.png" id="bryant-pic" class="players-pics">

<img src="nbaAllstars/layout/assets/images/players/magic-johnson.png" id="johnson-pic" class="players-pics">

<img src="nbaAllstars/layout/assets/images/players/stephen-curry.png" id="curry-pic" class="players-pics">

<img src="nbaAllstars/layout/assets/images/players/isiah-thomas.png" id="thomas-pic" class="players-pics">