<!-- Basketball Court Image -->
<img src="nbaAllstars/layout/assets/images/basketball-court.jpg" class="court-image">

<!-- Center Players Div -->
<div id="game-center">
	<div id="center-1" class="empty"></div>
</div>

<!-- Guard Players Divs -->
<div id="game-guard">
	<div id="guard-1" class="empty"></div>
	<div id="guard-2" class="empty"></div>
</div>

<!-- Forward Players Divs -->
<div id="game-forward">
	<div id="forward-1" class="empty"></div>
	<div id="forward-2" class="empty"></div>
</div>